@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #ffc107;
}

.nav {
  color: #000;
  text-decoration: none;
}

.nav-group {
  text-align: right;
}

.nav-group li {
  display: inline-block;
  list-style-type: none;
}

.wordmark {
  width: 100%;
  margin-bottom: 5em;
  margin-top: 3em;
}

.work {
  margin: 0;
  padding: 0;
}

.work-img {
  display: block;
  width: 100%;
}

.work a {
  display: block;
}

footer {
  background-color: #ffc107;
}

.footer-text, .icon-group {
  text-align: center;
  margin: 0;
}

.footer-icon {
  text-decoration-color: none;
  color: #000;
}

.copyright {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}
