<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Teri Dibbits Portfolio · A smiley solution to your problem · Ottawa, Canada</title>
  <meta name="description" content="Welcome to my portfolio website where you can view my work and learn more about me.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>

  <header itemscrope itemtype="https://schema.org/Website" id="home">
    <div class="masthead">
      <nav class="absolute" role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <a itemprop="url" href="{{site.baseurl}}/#home"><li>Home</li></a>
            <a itemprop="url" href="{{site.baseurl}}/#about"><li>About</li></a>
            <a itemprop="url" href="{{site.baseurl}}/#work"><li>Work</li></a>
          </ul>
        </div>
      </nav>
      <div class="gutter wordmark-position island">
        <i>
          <img itemprop="image" class="wordmark" src="{{site.baseurl}}/images/wordmark.svg" alt="Teri Dibbits Wordmark">
        </i>
      </div>
    </div>
  </header>

  {% if page.url == "/" %}
  <article class="banner">
      <div>
        <img itemprop="image" class="img-flex static" src="{{site.baseurl}}/images/banner.jpg" alt="Close up photo of a pencil and shavings">
      </div>
      <div class="banner-body island">
        <h2 itemprop="description" class="banner-title pad-b gutter-2">I'm a proactive worm catcher; not your typical early bird</h2>
        <a itemprop="url" class="btn-ghost" href="#about">Learn more about me</a>
      </div>
  </article>

  {% else %}
  <article class="banner">
    <div>
      <p class="scroll-down">Scroll Down ><p>
      <img itemprop="image" class="img-flex padding-none" src="{{site.baseurl}}/images/{{page.banner_img}}" alt="Banner image on work pages">
    </div>
  </article>
  {% endif %}

  <main itemref="data-author" itemscope itemtype="https://schema.org/Website">
    {{content}}
  </main>

  <footer id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person" class="pad-t">
    <p itemprop="description" class="footer-text push-1-2"> Like what you see? Let's talk, I would love to hear from you!</p>
    <ul class="icon-group grid grid-middle list-group">
      <li class="island-1-2 unit xs-1-3 s-1-3 m-1-3 l-1-3">
        <a itemprop="url" class="footer-icon" href="https://www.behance.net/dibb0005e6af">
          <i class="icon i-64">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#behance" /></svg>
          </i>
        </a>
      </li>
      <li class="island-1-2 unit xs-1-3 s-1-3 m-1-3 l-1-3">
        <a itemprop="url" class="footer-icon" href="https://www.linkedin.com/in/teri-dibbits-425935139/">
          <i class="icon i-64">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#linkedin" /></svg>
          </i>
        </a>
      </li>
      <li class="island-1-2 unit xs-1-3 s-1-3 m-1-3 l-1-3">
        <a itemprop="email" class="footer-icon" href="mailto: hello@teridibbits.com">
          <i class="icon i-64">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#email" /></svg>
          </i>
        </a>
      </li>
    </ul>
    <p class="island-1-2 micro copyright push-0">© <span itemprop="name">Teri Dibbits</span></p>
  </footer>

<script src="{{site.baseurl}}/js/nav.js">

</script>
</body>
</html>
